# Eclipse
.project
.classpath
.c9/
*.launch
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Compiled class files
*.class

# Logs
*.log

# Maven
target/

# Gradle
.gradle/
build/

# Java
*.war
*.ear
*.jar

# Others
*.iml
.idea/
